html, body{
  height: 100%; width: 100%;
  padding: 0; margin: 0;
  overflow: hidden;
}

.slide{
  position: absolute;
  width: 100%; height: 100%;
  top: 0px;
}
.panel{
  height: 100%;width: 100%;
  display: inline-block;
  background-color: rgb(200, 50, 50);
  border: 1px solid black;
}
.panel:active{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
